  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #side-bar {
    background-color: rgb(24, 24, 24);
    width: 200px;
    height: 930px; 
    flex: 2;
    padding: 20px;
    margin-right: 3px;
    border-radius: 5px; 
  }

  #side-bar button {
    background-color: green; 
    color: white; 
    border: none; 
    border-radius: 20px; 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 5px; 
    cursor: pointer;
  }

  main {
    color: white;
    background-color: rgb(24, 24, 24);
    height: 930px;
    flex: 2;
    padding: 20px;
    border-radius: 5px;
  }
  
  ::placeholder {
    color: white;
  }

  #search-input {
    background-color: #9c9c9c; 
    border: none;
    border-radius: 10px;
    width: 85%;
    padding: 10px;

  }
  
  #sign-in-button{
    background-color: green;
    color: white; 
    border: none; 
    border-radius: 20px; 
    padding: 10px; 
    margin-left: 20px;
    cursor: pointer; 
    width: 200px;
  }
  
  .current-track {
    margin-top: 5px;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 400px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

  .current-track img{
    float: right;
    margin-top: 8px;
    margin-right: 200px;
    background-color: rgba(252,176,69,1);
    border-radius:50%;
    box-shadow: 00 0 0 1px rgba(252,176,69,1);

  }
  

  .current-track h1{
    float: left;
    margin-left: 200px;
    margin-top: 170px;
  }
  

  #other-tracks h2{
    width: 100%;
  }
  
  #other-tracks ul {
    columns: 2;
    list-style: none;
  }
  
  #other-tracks li {
    width: 50%; 
    padding: 10px;
    display: flex;
    align-items: center;
  }

  #other-tracks a{
    color: white;
    text-decoration: none;
  }

  ul img{
    width: 60px;
    height: 60px;
    margin-right: 10px; 
    border-radius: 10px;
  }

  