body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#side-bar {
    background-color: rgb(24, 24, 24);
    width: 200px;
    height: 930px;
    flex: 2;
    padding: 20px;
    margin-right: 3px;
    border-radius: 5px;
}

#side-bar button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

main {
    color: white;
    background-color: rgb(24, 24, 24);
    height: 930px;
    flex: 2;
    padding: 20px;
    border-radius: 5px;
}

::placeholder {
    color: white;
}

#search-input {
    background-color: #9c9c9c;
    border: none;
    border-radius: 20px;
    width: 85%;
    padding: 5px;
}

#sign-in-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
    width: 200px;
}


.track-picture img{
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
    width: 100%;
    height: 400px;
  }
  
  .track-picture {
    position: relative;
    text-align: center;
  }

  .track-picture h1{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
  }

  .track-picture span{
    position: absolute;
    top: 65%;
    left: 7%;
    transform: translate(-50%, -50%);
  }

  #music-text{
    font-size: 23px;
  }


audio {
    width: 100%;
}
audio::-webkit-media-controls-panel{
    background-color: black;
    box-shadow: none;
}

audio::-webkit-media-controls-play-button{
    background-color: white;
    border-radius: 50%;
}
audio::-webkit-media-controls-current-time-display{
    margin-left: 20px;
    color: white;
    text-shadow: none;
}
audio::-webkit-media-controls-time-remaining-display{
    text-shadow: none;
    color: white;
}


audio::-webkit-media-controls-timeline{
    margin-left: 20px;
    border-radius: 40px;
    background-color: white;
}
audio::-webkit-media-controls-volume-slider{
    background-color: white;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
audio::-webkit-media-controls-mute-button{
    background-color: white;
    border-radius: 50%;
}


